{% extends "base.html" %}

{% block title %}Liste Consultation{% endblock title %}


{% block main %}

<marquee behavior="alternate">
    <h1 class="h3 mb-2 text-gray-800">LISTE DES CONSULTATIONS</h1>
    </marquee>
<div class="container-fluid">


    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Intitule</th>
                            <th>Medecin</th>
                            <th>Patient</th>
                            <th>Diagnostic</th>
                            <th>Medicament</th>
                            <th>Dosage</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cli in consult %}
                        <tr>
                            <td>{{cli.date}}</td>
                            <td>{{cli.intitule}}</td>
                            <td>{{cli.medecin.prenom}} {{cli.medecin.nom}}</td>
                            <td>{{cli.patient.prenom}} {{cli.patient.nom}}</td>
                            <td>{{cli.diagnostic}}</td>
                            <td>{{cli.medicament.nom}}</td>
                            <td>{{cli.dosage}}</td>
                
                            <td>

                                    <ul class="navbar-nav ml-auto">
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle btn btn-info" href="#" id="navbarDropdown"
                                                role="button" data-toggle="dropdown" aria-haspopup="true"
                                                aria-expanded="false">
                                                Actions
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-right animated--fade-in"
                                                aria-labelledby="navbarDropdown">
                                                <a class="dropdown-item" href="">Modifier</a>
                                                <div class="dropdown-divider"></div>
                                                <a class="dropdown-item" href="" onclick="return confirm('Etes vous sure de vouloir supprimer ?')">Supprimer</a>
                                            </div>
                                        </li>
                                    </ul>





                
                            </td>
                
                
                        </tr>
                        {% endfor %}
                
                
                    </tbody>
                
                </table>
            </div>
        </div>
    </div>

</div>


















    


{% endblock main %}

